.fs-15 {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}

.fs-17 {
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
}

.fs-19 {
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
}

.fs-22 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.fs-36 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}

.fs-64 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
}